<div>
    <p>
        Hi <%= comment.user.name%>
        <br>
        <p>
            Your comment <strong> <%= comment.content%></strong> Just got published on codeial
        </p>
        <br>
        Thanks!
    </p>
</div>